html, body {
  height: 100vh;
  width: 100vw;
  background-color: #444;
  color: #CCC
}

html, body, section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  margin: 10px;
}

h1 {
  font-size: 50px;
}

select {
  padding: 5px;
  min-width: 200px;
}

input {
  background-color: #EEE;
}

input[type="number"] {
  width: 70px;
  text-align: center;
  font-size: 1.0em;
  font-family: inherit;
}